<ion-header>
  <ion-navbar >
    <ion-buttons end>
      <button  color=primary  ion-button icon-only (click)="signOut()"><ion-icon name="power"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


<!-- Add icon library --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="card">
  <img src={{user.img}} alt="John" style="width:100%">
  <div class="container">
      <h1>{{user.nombre}}, {{user.edad}}</h1>

    <p class="title"></p>

    <p>{{user.genero}}</p>
    <p>{{user.universidad}}</p>
    <p>{{user.biografia}}</p>
    
         <div  *ngFor="let lang of languages" >
                    <b>{{ capitalizeFirstLetter(lang.nombre)}} </b> <ion-icon *ngFor='let tmp of stringToArray(lang.nivel)' name="star"></ion-icon>
         </div>
    


    <button ion-button icon-only>
    <ion-icon name="md-create"></ion-icon>
    </button>

  </div>
</div>


</ion-content>
