.chat-view {
  .messages {
    
    width: 100%;
    position: absolute;

    .message {
      width: 70%;
      padding: 5px 10px;
      background: #fff;
      color: color($colors, primary);
      border: 1px solid color($colors, primary);
      margin: 5px;
      float: left;
      border-radius: 10px;
    }
    .message.me {
      float: right;
      background: color($colors, secondary);
        border: 1px solid color($colors, secondary);
      color: #fff;
      text-align: right;
      margin-right: 20px;
    }
  }
  .input-message{
    color: #000;
    background: #fff;
  }
  .btn-send{
    width:20%!important;
  }
 
}
 