page-add-event-page {

    .scroll-idiomas{
        width:100%;
    }
    .col-idiomas{
        width: 20%;
    }

    .lista-idiomas{
        border: 1px solid #000;
        border-radius: 5px;
        //text-align: center;
        //background-color: #303030;
    }
    .idiomas-seleccionados{
        width: 100%;
    }
    .scroll-item{
                width: 100%;

    }
    .scroll-content{
        width: 100%;
        margin: 0;
        padding: 0;

    }

        
        ion-scroll {
        white-space: nowrap;
        height: 20vh;
        .scroll-item {
            width:40vw;
            height: 20vh;
            display: inline-block;
           // border: .5px solid #000;
        }
        img{
            height: 100%!important;
            width: 70%!important;

        }

}

}
