page-login-page {
    ion-item{
      background-color: transparent !important;   
    }
    ion-input{
        background-color: #f4f4f4 !important;  
    }
    ion-img{
         background-color: transparent !important;  
    }
}
