page-intro {
    ion-slides {
        height:auto;

        img{
            height: 72vh!important;
        }
       
    }
    a{
        font-size: 130%;
        text-align: center;
    }
    ion-row{
        margin-bottom: 2vh;
    }
}
