<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Chats
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding  *ngFor="let chat of chats">
            <ion-item (click)="openChat(chat.destinatario)">
                <ion-avatar item-left  >
                        <img *ngIf="chat.destinatario.img!=''" src={{chat.destinatario.img}}>
                </ion-avatar>
                <span >{{chat.destinatario.nombre}}</span><br>
                <span class="last-message" >{{chat.ultimo_mensaje}}</span>
            </ion-item>
            <ion-item-options>
                <button class="delete-button" (click)="removeChat(chat)"><ion-icon name="trash"></ion-icon> Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>