
page-chats{
    .last-message{
        color:color($colors, secondary);
        margin-left: 10px;
        font-style: italic;
    }
    .delete-button{
        background-color: #f53d3d;
    }
    img{
        height: 1%;
    }
}