
page-chats{
    .last-message{
        color: #FFB74D;
        margin-left: 10px;
        font-style: italic;
    }
    .delete-button{
        background-color: #f53d3d;
    }
    ion-item{
        background: #000!important;
    }
}